.profile-cont {
    display: flex;
    width: 60%;
    background-color: #ffffff !important;
}

.pc-1 {
    display: flex;
    margin: 30px;
    flex-direction: column;
}
.pc-2 {
    display: flex;
    margin: 30px;
    flex-direction: column;
}

.profile-pic {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    object-fit: cover;
}

.port {
    width: 60%;
}
